@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

img {
    width: 100%;
    border-radius: 12px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

h2 {
    text-align: center;
    color: hsl(218, 44%, 22%);
}